# Python divides the operators in the following groups:

* Arithmetic operators
* Assignment operators
* Comparison operators
* Logical operators
* Identity operators
* Membership operators
* Bitwise operators

# Python Arithmetic Operators

In [6]:
#!pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [4]:
%conda install lxml -y

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\ANACONDA\envs\python13

  added / updated specs:
    - lxml


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    libxml2-2.10.4             |       h0ad7f3c_1         2.8 MB
    libxslt-1.1.37             |       h2bbff1b_1         447 KB
    lxml-4.9.3                 |  py312h09808a7_0         1.0 MB
    ------------------------------------------------------------
                                           Total:         4.3 MB

The following NEW packages will be INSTALLED:

  libiconv           pkgs/main/win-64::libiconv-1.16-h2bbff1b_2
  libxml2            pkgs/main/win-64::libxml2-2.10.4-h0ad7f3c_1
  libxslt            pkgs/main/win-64::libxslt-1.1.37-h2bbff1b_1
  lxml               pkgs/main/win-64::lxml-4.9.3-py312h09808a7_0

The following packages will be UPDATED:

  ca-certificates    conda-forge::ca-certificates-2023.11.~ --> pkgs/main::ca-certificates-2023.12.12-haa95532_0



Downloading and Extracting Packages

lxml-4.9.3           | 1.0 MB    |            |   0%

libxml2-2.10.4       | 2.8 MB    |            |   0%


libxslt-1.1.37       | 447 KB    |            |   0%

libxml2-2.10.4       | 2.8 MB    | 8          |   8%

libxml2-2.10.4       | 2.8 MB    | #6         |  17%

libxml2-2.10.4       | 2.8 MB    | ##3        |  24%

libxml2-2.10.4       | 2.8 MB    | ##9        |  30%

libxml2-2.10.4       | 2.8 MB    | ###5       |  36%
lxml-4.9.3           | 1.0 MB    | 1          |   2%


libxslt-1.1.37       | 447 KB    | 3          |   4%
lxml-4.9.3           | 1.0 MB    | #          |  11%

libxml2-2.10.4       | 2.8 MB    | ####1      |  41%


libxslt-1.1.37       | 447 KB    | #7         |  18%

libxml2-2.10.4       | 2.8 MB    | ####5      |  46%
lxml-4.9.3           | 1.0 MB    | #7         |  17%

libxml2-2.10.4       | 2.8 MB    | ####9      |  50%


libxslt-1.1.37       | 447 KB    | ###5       |  36%

libxml2-2.10.4       | 2.8 MB    | #####3     |  53%
lxml-4.9.3           | 1.0 MB    | ##6        |  26%


libxslt-1.1.37       | 447 KB    | #####7     |  57%

libxml2-2.10.4       | 2.8 MB    | ######1    |  62%
lxml-4.9.3           | 1.0 MB    | ###1       |  31%


libxslt-1.1.37       | 447 KB    | ######4    |  64%

libxml2-2.10.4       | 2.8 MB    | ######8    |  68%
lxml-4.9.3           | 1.0 MB    | ####2      |  42%

libxml2-2.10.4       | 2.8 MB    | #######4   |  74%
lxml-4.9.3           | 1.0 MB    | ####6      |  47%


libxslt-1.1.37       | 447 KB    | #########3 |  93%

libxml2-2.10.4       | 2.8 MB    | ########   |  80%
lxml-4.9.3           | 1.0 MB    | #####7     |  58%

libxml2-2.10.4       | 2.8 MB    | ########6  |  86%

libxml2-2.10.4       | 2.8 MB    | #########1 |  91%
lxml-4.9.3           | 1.0 MB    | ######3    |  64%

libxml2-2.10.4       | 2.8 MB    | #########7 |  97%
lxml-4.9.3           | 1.0 MB    | #######7   |  78%
lxml-4.9.3           | 1.0 MB    | #########  |  90%


libxslt-1.1.37       | 447 KB    | ########## | 100%


libxslt-1.1.37       | 447 KB    | ########## | 100%

libxml2-2.10.4       | 2.8 MB    | ########## | 100%
lxml-4.9.3           | 1.0 MB    | ########## | 100%
lxml-4.9.3           | 1.0 MB    | ########## | 100%








Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

==> WARNING: A newer version of conda exists. <==
  current version: 23.1.0
  latest version: 23.11.0

Please update conda by running

    $ conda update -n base -c defaults conda

Or to minimize the number of packages updated during conda update use

     conda install conda=23.11.0

In [8]:
a : int =  7
b : int =  2

print(a + b)# additon
print(a - b)# substraction
print(a * b)# multipication
print(a / b)# division

9
5
14
3.5

In [10]:
a : int =  11
b : int =  3

print(a % b)#modulus

2

In [12]:
print(2 ** 2)
print(2 ** 3) # power

4
8

In [16]:
print(12 / 3)
print(12 // 3) # Floor division convert to int not in float
print(14.5 // 3)

4.0
4
4.0

# Python Assignment operators

In [17]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [19]:
# Assign 
a : int =  11
b : int =  3
a += 3
print(a)
b +=11
print(b)

14
14

In [20]:
a : int =  50
a += 5
print(a)

55

## Python Comparison Operators

In [21]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [24]:
a : int =  11
b : int =  3

print(a == b)

False

In [25]:
a : int =  11
b : int =  11

# 11 == 11
# True
print(a==b)

True

In [26]:
a : int =  11
b : str = '11'

print(a==b)

False

In [28]:
a : int =  11
b : int =  3

#a == b
# 11 == 3
# True
print(a!=b)

True

In [29]:
a : int =  11
b : int =  3

print(a>b)

True

In [30]:
a : int =  11
b : int =  3

print(b>a)

False

In [31]:
a : int =  11
b : int =  3

print(a<b)

False

In [32]:
a : int =  11
b : int =  3

print(a>=b)

True

ASCII code
 ``` 
 A = 65
 Z = 90

 a = 97
z = 122

0 = 48
9 = 57
```

In [41]:
chr(65)

'A'

In [42]:
ord("A")

65

In [33]:
a : str = "A"
b : str = "B"

print(a > b)

False

In [36]:
a : str = "A"
b : str = "a"

print(b > a)

True

# Python Logical Operators

In [43]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [47]:
# and  compulsory
#  or  optional

print (True and True and True and True)
print(True and False and True and True)
print(False and False and False and True)

True
False
False

In [49]:
print(True or False or True or False )
print(True or False or True or True)
print(False or False or False or True)

True
True
True

In [50]:
not True

False

In [51]:
not False

True

In [54]:
name : str = "ahsan"
print(not name =="ahsan") # comparison on value labell
# name == ahsan
# name == ahsan 
# True

False

In [55]:
name : str = "ahsan"
print(name !="ahsan")

False

## Python Identity Operators

In [56]:
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [60]:
x : str ="ahsan"
z : str = "ahsan"

print(id(x))
print(id(z))

2207056053040
2207056053040

In [61]:
x is z

True

In [63]:
x : str ="ahsan"
z : str = "ahsan"

print(id(x))
print(id(z))

x is not z # check on memory

2207056053040
2207056053040

False

## Python Membership Operators

In [64]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [85]:
name: list[str] = [chr(i) for i in  range(65,91)]
name

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P',
 'Q',
 'R',
 'S',
 'T',
 'U',
 'V',
 'W',
 'X',
 'Y',
 'Z']

In [78]:
for i in range(len(name)):
    print(i,name[i])

0 A
1 B
2 C
3 D
4 E
5 F
6 G
7 H
8 I
9 J
10 K
11 L
12 M
13 N
14 O
15 P
16 Q
17 R
18 S
19 T
20 U
21 V
22 W
23 X
24 Y
25 Z

In [83]:
for i in range(len(name)):
    print(i,name[i])

    if name[i] == "D":
        print("True")
        break

0 A
1 B
2 C
3 D
True

In [86]:
name: list[str] = [chr(i) for i in  range(65,91)]
"D" in name

True

In [87]:
name: list[str] = [chr(i) for i in  range(65,91)]
"Ahsan" in name

False

In [88]:
name: list[str] = [chr(i) for i in  range(65,91)]
"Ahsan" not in name

True

In [91]:
name: list[str] = [chr(i) for i in  range(65,91)]
"D" in name

True

In [101]:
name: list[str] = ["Ahsan" ,"Raheem", "Mawaz","Jawad","Waqas"]

n_input = input("Enter your name")
n_input in name

True

In [102]:
name: list[str] = ["Ahsan" ,"Raheem", "Mawaz","Jawad","Waqas"]

n_input = input("Enter your name")
n_input not in name

False

<img src="https://th.bing.com/th/id/OIP.YFEPvz5rHtCn1nmzEcfVAwHaGO?w=196&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7">


## PEMDAS

In [105]:
print(3 + 2 - 2 * 4/2 +2)

3.0

### Equation Solution

The given expression: `3 + 2 - 2 * 4 / 2 + 2`

Let's solve this step by step according to the order of operations:

1. **Multiplication and Division (from left to right):**
   - `2 * 4` equals `8`
   - `8 / 2` equals `4`

   So, the expression becomes: `3 + 2 - 4 + 2`

2. **Addition and Subtraction (from left to right):**
   - `3 + 2` equals `5`
   - `5 - 4` equals `1`
   - `1 + 2` equals `3`

Therefore, after following the order of operations, the result of the expression `3 + 2 - 2 * 4 / 2 + 2` is `3`.

In [107]:
universe_age = 14_000_000_000
print(universe_age)

14000000000

In [108]:
a,b,c = "Ahsan",7,7.9
print(a)
print(b)
print(c)

Ahsan
7
7.9

In [109]:
"Ahsan",7,7.9

('Ahsan', 7, 7.9)

In [110]:
data = "Ahsan",7,7.9
print(data[0],data[1],data[2])

Ahsan 7 7.9

In [111]:
a,b,c = "Ahsan",7,7.9
print(*data)

Ahsan 7 7.9

In [112]:
2*2
"a"*3

'aaa'

In [113]:
a : int = 3

In [119]:
if (a > (b :=a+5)):
    print(a)
else:
    print("It is not working")

It is not working

In [120]:
"""f
ahsan
"""
print("hello")

hello

# Question and Answers

In [2]:
print(5+3)
print(4*2)
print(10-2)
print(80/10)

8
8
8
8.0

In [3]:
favourite_number : int =  6
message : str = (f"My favourtite number is {favourite_number}")
print(message)

My favourtite number is 6

In [6]:
# use of integer types
a = 10 ; b = 25 ; c = 15 ; d = 30 ; e = 2 ; f = 3 ; g = 5
w = a + b - c
x = d ** e
y = f % g
print(w,x,y)

20 900 3

In [7]:
# use of float
i = 3.5
j = 1.2
print(i % j)

1.1

In [8]:
# use of complex
a = 1 + 2j
b = 3 *(1 + 2j)
c = a * b
print(a)
print(b)
print(c)
print(a.real)
print(a.imag)
print(a.conjugate( ))
print(a)

(1+2j)
(3+6j)
(-9+12j)
1.0
2.0
(1-2j)
(1+2j)

In [12]:
# convert to int
print(int(3.14)) # from float to int
a = int('485') # from numeric string to int
b = int('768') # from numeric string to int
c = a + b
print(c)
print(int('1011', 2)) # convert from binary to decimal int
print(int('341', 8)) # convert from octal to decimal int
print(int('21', 16)) # convert from hex to decimal int
# convert to float
print(float(35)) # from int to float
i = float('4.85') # from numeric string to float
j = float('7.68') # from numeric string to float
k = i + j
print(k)
# convert to complex)
print(complex(35)) # from int to float
x = complex(4.85, 1.1) # from numeric string to float
y = complex(7.68, 2.1) # from numeric string to float
z = x + y
print(z)

3
1253
11
225
33
35.0
12.53
(35+0j)
(12.53+3.2j)

In [11]:
x = complex(4.85, 1.1)
x

(4.85+1.1j)

In [13]:
# convert to bool
print(bool(35))
print(bool(1.2))
print(int(True))
print(int(False))

True
True
1
0

In [21]:
# built-in math functions
print(abs(-25))
print(pow(2, 4))
print(min(10, 20, 30, 40, 50))
print(max(10, 20, 30, 40, 50))
print(divmod(17, 3))
print(bin(64), oct(64), hex(64))
print(round(2.567), round(2.5678, 2))

25
16
10
50
(5, 2)
0b1000000 0o100 0x40
3 2.57

In [17]:
# mathematical functions from math module
import math
x = 1.5357
print ( math.pi, math.e)
print(math.sqrt( x))
print(math.factorial(6))
print(math.fabs(x))
print(math.log(x))
print(math.log10(x))
print(math.exp(x))
print(math.trunc(x))
print(math.floor(x))
print(math.ceil(x))
print(math.trunc(-x))
print(math.floor(-x))
print(math.ceil(-x))
print(math.modf(x))

3.141592653589793 2.718281828459045
1.2392336341465238
720
1.5357
0.42898630314951025
0.1863063842699079
4.644575595215059
1
1
2
-1
-2
-1
(0.5357000000000001, 1.0)

In [20]:
import random
import datetime

# Get the current time in microseconds
current_time_microseconds = datetime.datetime.now().microsecond

# Set the seed for the random number generator
random.seed(current_time_microseconds)

# Generate and print random numbers
print(random.random())          # Generate a random float between 0 and 1
print(random.random())          # Generate another random float between 0 and 1
print(random.randint(10, 100))  # Generate a random integer between 10 and 100

0.2363830943048425
0.839992212112875
48

In [1]:
# determine type of data
print(type({10, 20, 30.5}))
print(type([1, 2, 3.14, 'Nagpur']))
print(type({12 : 'Simple', 43 : 'Complicated', 13 : 'Complex'}))
print(type("Check it out!"))
print(type(3 + 2j))

<class 'set'>
<class 'list'>
<class 'dict'>
<class 'str'>
<class 'complex'>