In [2]:
name: str = "Ahsan Hayat"
print(name)

Ahsan Hayat

# String Data types in Python

In [3]:
# boundries
# 'string text',"string text",'''string text''',"""string text"""
# string text ,type script
name: str = "Ahsan Hayat"
print(type(name))
print(name)

<class 'str'>
Ahsan Hayat

In [8]:
message : str =  "Python student card\nId card python "
print(message)

Python student card
Id card python

In [9]:
message : str =  "Python 'student' card\nId card python "
print(message)

Python 'student' card
Id card python

In [13]:
# convert any special character into simple character, place \ before character
message : str =  'Python student card\n Father\'s name'
print(message)

Python student card
 Father's name

In [14]:
"a" + "b" + "c"

'abc'

In [37]:
card : str = "Python developer card\n Student name:" + name + "\nAge:" + str(age)
print(card)

Python developer card
 Student name:Ahsan Hayat
Age:25

In [19]:
print(7+8+2)

17

#  "\" Line continue

In [21]:
print(7+\
      8+\
      2)

17

In [39]:
# boundries
# 'string text',"string text",'''string text''',"""string text"""
# string text ,type script
name : str = "Ahsan Hayat"
father_name : str = "Hayat Mohammad"
education : str = "Bs in Financial Mathematics"
age : int = 25

card : str = "Python developer card\nStudent name: " + name + \
"\nAge:" + str(age) + "\n" + \
"education: " + education
print(card)

Python developer card
Student name: Ahsan Hayat
Age:25
education: Bs in Financial Mathematics

# Define Multiline string """ """ ''' '''

In [30]:
name : str = "Ahsan Hayat"
father_name : str = "Hayat Mohammad"
education : str = "Bs in Financial Mathematics"
age : int = 25

card : str = """ 
python developer
father name:
education:
age:
"""
print(card)

python developer
father name:
education:
age:

# f-string

In [33]:
name : str = "Ahsan Hayat"
father_name : str = "Hayat Mohammad"
education : str = "Bs in Financial Mathematics"
age : int = 25

card : str = f""" 
student name :{name}
father name: {father_name}
education:   {education}
age: {age}
Total : {9+7+5+7}
"""
print(card)

student name :Ahsan Hayat
father name: Hayat Mohammad
education:   Bs in Financial Mathematics
age: 25
Total : 28

# f-string and jinga style

In [34]:
f"""
Data Scientist {name}
"""

'\nData Scientist Ahsan Hayat\n'

In [ ]:
# jinga style
"""
Data Scientist {{name}}
"""

In [36]:
name : str = "Ahsan Hayat"
father_name : str = "Hayat Mohammad"
education : str = "Bs in Financial Mathematics"
age : int = 25

card : str = f""" 
University Card:
student name : %s
father name: %s
education: %s  
age: %d
""" % (name,father_name,education,age)
print(card)

University Card:
student name : Ahsan Hayat
father name: Hayat Mohammad
education: Bs in Financial Mathematics
age: 25

In [42]:
[i for i in dir(name) if"__" not in i]

['capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [44]:
name : str = "AHsaN hAYat"
print(name.capitalize())
print(name.lower())

Ahsan hayat
ahsan hayat

In [51]:
a = 2
b = 9
# place holder
"The value of Pakistan a = {} and b = {}".format(a,b)

'The value of Pakistan a = 2 and b = 9'

In [67]:
name : str = "Ahsan Hayat"
father_name : str = "Hayat Mohammad"
education : str = "Bs in Financial Mathematics"
age : int = 25

card : str = """ 
University card:
student name: {}
father name: {}
education: {}
age: {}
""".format(father_name,name,age,education)
        #   0      1     2   3    4  

print(card)

University card:
student name: Hayat Mohammad
father name: Ahsan Hayat
education: 25
age: Bs in Financial Mathematics

In [66]:
name : str = "Ahsan Hayat"
father_name : str = "Hayat Mohammad"
education : str = "Bs in Financial Mathematics"
age : int = 25

card : str = """ 
University card:
student name: {1}
father name: {0}
education: {3}
age: {2}
""".format(father_name,name,age,education)

print(card)

University card:
student name: Ahsan Hayat
father name: Hayat Mohammad
education: Bs in Financial Mathematics
age: 25

In [65]:
name : str = "Ahsan Hayat"
father_name : str = "Hayat Mohammad"
education : str = "Bs in Financial Mathematics"
age : int = 25

card : str = """ 
University card:
student name: {a}
father name: {b}
education: {c}
age: {d}
""".format(a = name,b = father_name, c = education, d = age)

print(card)

University card:
student name: Ahsan Hayat
father name: Hayat Mohammad
education: Bs in Financial Mathematics
age: 25

# Recommanded below two f-string

In [64]:
name : str = "Ahsan Hayat"
father_name : str = "Hayat Mohammad"
education : str = "Bs in Financial Mathematics"
age : int = 25

card : str = f""" 
University Card:
student name: {name}
father name: {father_name}
education: {education}
age: {age}
"""
print(card)

University Card:
student name: Ahsan Hayat
father name: Hayat Mohammad
education: Bs in Financial Mathematics
age: 25

In [70]:
student_code : str = f"""
print("My name is Ahsan Hayat")
a:int = 5
b:int = 7
print(a+b)
"""
exec(student_code)

My name is Ahsan Hayat
12

# Explore String methods and attributes

pre define global functions we have use

* print
* Type
* dir
* id
* len

In [81]:
a : list[str] = [i for i in dir(name) if"__" not in i]
print (a)
print(len(a))

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']
47

In [74]:
name : str = "ahsan hayat"

# avaliable.method()
print(name.capitalize())

Ahsan hayat

In [75]:
name : str = "AHSAN HAYAT"

# avaliable.method()
print(name.casefold())

ahsan hayat

In [82]:
name : str = " ahsan hayat"

# avaliable.method()
print(name.lower())

 ahsan hayat

In [83]:
name : str = "     ahsan hayat     "

# avaliable.method()
print(name.lstrip())

ahsan hayat

In [84]:

print(name.rstrip())

     ahsan hayat

In [88]:
name : str = "            ahsan hayat      "

# avaliable.method()
print(name.strip())

ahsan hayat

In [103]:
import re

name : str = "       ahsan    hayat     "
display(name)

name1 : str = re.sub(' {2,100}',    ' '    ,   name)
                    #pattern  #replacement   # variable
display(name1)

'       ahsan    hayat     '

' ahsan hayat '

In [102]:

name : str = "       ahsan    hayat     "
display(name)

name1 : str = re.sub(' {2,100}',' ', name).strip()
display(name1)

'       ahsan    hayat     '

'ahsan hayat'

In [ ]:
# \b
# \t
# \n

In [105]:
print("Python:\blove to code")

Pythonlove to code

In [106]:
print("Python: \tlove to \tcode")

Python: 	love to 	code

In [107]:
print("Python:\nlove \nto \ncode")

Python:
love
to
code

In [111]:
url : str = "https://chat.openai.com/"
url.removeprefix('https:')

'//chat.openai.com/'

In [1]:
name = "Ahsan Hayat"
print(name.upper())
print(name.lower())

AHSAN HAYAT
ahsan hayat

In [4]:
first_name = "ahsan"
last_name = "hayat"
full_name = f"{first_name} {last_name}"
print(full_name)
print(f"Hello, {full_name.title()}!")

ahsan hayat
Hello, Ahsan Hayat!

In [6]:
first_name = "ahsan"
last_name = "hayat"
full_name = "{} {}".format(first_name, last_name)
print(full_name)

ahsan hayat

In [62]:
#personal message

name : str = "Ahsan"

message : str = f"Hello {name} would you like to learn some python today? "
print(message)

Hello Ahsan would you like to learn some python today?

In [16]:
name : str = "Ahsan hayat"
print(f"Uppercase: {name.upper()}")
print(f"Lowercase : {name.lower()}")
print(f"Title case : {name.title()}")

Uppercase: AHSAN HAYAT
Lowercase : ahsan hayat
Title case : Ahsan Hayat

In [23]:
authur_name : str = "Albert Einstein"
print(f"""{authur_name} once said, "A person who never made a 
mistake never tried anything new." """)

Albert Einstein once said, "A person who never made a
mistake never tried anything new."

In [24]:
authur_name : str = "Albert Einstein"
quote : str = "A person who never made a mistake never tried anything new."

print(f"{authur_name} once said, \"{quote}\" ")

Albert Einstein once said, "A person who never made a mistake never tried anything new."

In [27]:
famous_person : str = "Albert Einstein"
quote : str = "A person who never made a mistake never tried anything new."
message : str  = (f"{famous_person} once said,\"{message}\"")
print(message)

Albert Einstein once said,"A person who never made a mistake never tried anything new."

In [39]:
text_with_whitespcaes : str = "Everyone: \bHello Mawaz\tshah \nWelcome to the Python world"
print(text_with_whitespcaes)

Everyone:Hello Mawaz	shah
Welcome to the Python world

In [42]:
person_name : str =  "\tAhsan \nHayat"
print(f"Person's Name :{person_name}")

Person's Name :	Ahsan
Hayat

In [43]:
person_name : str =  "   Ahsan Hayat   "
print(person_name.lstrip())

Ahsan Hayat

In [44]:
print(person_name.rstrip())

   Ahsan Hayat

In [45]:
print(person_name.strip())

Ahsan Hayat

In [50]:
2 + 3

5

In [51]:
3 - 2

1

In [53]:
3 / 2

1.5

In [54]:
3 ** 2

9

In [52]:
2 * 3

6

In [55]:
3 ** 3

27

In [56]:
10 ** 6

1000000

In [58]:
2 + 3*4

14

In [59]:
(2 + 3) * 4

20

In [60]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!